<% layout('layouts/boilerplate')%>
<!-- <div class="row">
    <h1 class="text-center">Contact Us</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/contact" method="POST">
            <div class="mb-3">
                <label class="form-label" for="title">Name</label>
                <input class="form-control" type="text" id="title" name="contact[title]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="contact[location]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="phoneno">Phone no</label>
                <input class="form-control" type="number" id="phoneno" name="contact[phoneno]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="contact[email]">
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="message">Location</label>
                <input class="form-control" type="text-area" id="message" name="contact[message]">
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
         
    </div>
</div> -->
 <!-- contact section -->
 <div class="row">
 <section id="contact-section" class="sec-mar">
    <div class="container con">
         <h2>Contact Us</h2>
       <p> Send Us Your Query </p>
      <div class="contact-form">

           <!-- First grid -->
        <div>
          <i class="fa fa-map-marker"></i><span class="form-info">  Railway sttation</span><br>
          <i class="fa fa-phone" > </i><span class="form-info">  +91 00034567890</span><br>
          <i class="fa fa-envelope"></i><span class="form-info">  UTKTRAVELS@Gmail.com</span>
          <div >
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>  
              <li><a class="Whatsapp" href="#"><i class="fab fa-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>
        
            <!-- second grid -->
    <div>        
      <form action="/contact" method="POST">
        <input class="input-con" type="text" id="title" placeholder="Name" name="contact[title]">
        <input class="input-con" type="text" id="location" placeholder="Location" name="contact[location]"><br>
        <input class="input-con" type="number" id="phoneno" placeholder="Phone No" name="contact[phoneno]"><br>
        <input class="input-con" type="email" id="email" placeholder="Email" name="contact[email]"><br>
        <textarea class="textarea-con" id="message" placeholder="Message" name="contact[message]" rows="5" required></textarea><br>
        <button class="submit" >Send Message</button> 
      </form>   
        </div>
      </div>
    </div>
  </section>
</div>

  