<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="row">
      <div class="col col-content">
        <h1>Cabs & Taxi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, doloribus deserunt quos, iure nostrum nihil ducimus asperiores, consequuntur aut molestiae aliquid recusandae perferendis ipsa facilis unde magni voluptatibus saepe sequi?</p>
        <a href="/contact"><button type="button" class="btn btn-outline-info .btn-lg">Book Now</button></a>
      </div>
      <div class="col">
        <img src="/img/taxi.png" alt="">
      </div>
    </div>
</div>

 <hr>

 <div class="container">
    <div class="row">
      <div class="col">
        <img src="/img/11-2-helicopter-png.png" alt="">
      </div>
      <div class="col col-content">
        <h1>Helicopter Chopper</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, doloribus deserunt quos, iure nostrum nihil ducimus asperiores, consequuntur aut molestiae aliquid recusandae perferendis ipsa facilis unde magni voluptatibus saepe sequi?.</p>
        <a href="/contact"><button type="button" class="btn btn-outline-info .btn-lg">Book Now</button></a>
      </div>
    </div>
</div>

<hr>

<div class="container colm ">
    <div class="row">
      <div class="col col-content">
        <h1>Bus</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, doloribus deserunt quos, iure nostrum nihil ducimus asperiores, consequuntur aut molestiae aliquid recusandae perferendis ipsa facilis unde magni voluptatibus saepe sequi?.</p>
        <a href="/contact"><button type="button" class="btn btn-outline-info .btn-lg">Book Now</button></a>
      </div>
      <div class="col">
        <img src="/img/6-2-bus-png-file.png" alt="">
      </div>
    </div>
</div> 